{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
About Xchange Fm
{% endblock %}

{% block content %}
<div class='abshowcasecontainer'>
    <div class='abshowback'></div>
    <div class='abshowoverlay'></div>
</div>

<div class='abcontainermain'>
    <div class='aboutus1'>
        <h2>About Us</h2>
        <section class='section1'>
            105 XCHANGE RADIO is a US professional and the most prestigious
            black- owned internet radio. Nestled on the soil of Bronzeville,
            The web media based firm is established as a global media platform
            that showcases the true unique identity of the Blacks across the
            globe. In the light of that, we have come up with an idea of
            creating a media institution called – (105 XCHANGE RADIO) that
            reflects the excellence of the black nation. We are not just a
            media firm, we are also committed to making the world a better
            place through series of life-changing and positive impactful
            contribution towards humanity and the entire society. Through our
            state-of-the-art facility and cutting-edge technologies, we are
            poised to become the voice for the voiceless. 105 XCHANGE RADIO
            Station will be a perfect destination of distinguished Africans
            and individuals held in various positions, class, professions,
            businesses, and industry without any iota of bias or
            discrimination. As a herald of peace, we are dedicated to building
            a united and sustainable Afro community by creating awareness
            which includes (Africans, African-Americans- Caribbean and
            Latina). Maintaining friendliness and brotherhood among Africans,
            we intend to organize an all-inclusive traditional and cultural
            events in different time frames (quarterly/bi-annual or annually)
            as well as Africa Festival – Afro Soccer Tournament Campaign
            against Gun Violence – Afro Boat Cruise).
        </section>
    </div>
    <br />
    <div class='objectivesuccess'>
        <section class='section2'>
            <h3>Business Objective</h3>
            Our Objectives at Pan Africa Radio is as follows
            <ul>
                <li>
                    To promote and preserve the cultural heritage of the black
                    race.
                </li>
                <li>To promote friendliness and unity among blacks </li>
                <li>
                    To become the voice of the voiceless,
                    <br></br> creating Perfect Avenue to meeting needy, poor and
                    less privileged.
                </li>
                <li>To ignite the passion for true African brotherhood.</li>
            </ul>
        </section>
        <br />
        <section class='section3'>
            <h3>Keys To Success</h3>
            <ul>
                <li>State-of-the-art technologies</li>
                <li>Reputation of the founder and advisory boards</li>
                <li>Word of mouth marketing</li>
                <li>
                    Strong partnership and alliance with fellow Afro-community
                </li>
                <li>Enjoyment of the experience.</li>
                <li>
                    Maintaining a professional image in our industry and
                    community.
                </li>
            </ul>
        </section>
    </div>
    <br />
    <h3>VALUES</h3>
    <section class='section4'>
        <ul>
            <li>

                <b>Respect</b> – Treat all individuals with dignity, value their
                contributions, respect their differences and help each other to
                succeed
            </li>
            <li>
                <b>Integrity</b> – Commit unwaveringly to ethical behaviour and
                trustworthy interactions with our customers and employees{" "}
            </li>
            <li>
                <b>Community</b> – Promote social responsibility, invest in the
                communities where we work and encourage our employees to
                volunteer
            </li>
            <li>
                <b>Commitment</b> – Develop and maintain long-term relationships
                with clients, employees and other stakeholders.{" "}
            </li>
            <li>
                <b>Excellence and professionalism</b> - Emphasize on
                professional development program for our employees thus creating
                a good brand image by offering excellent services.
            </li>
            <li>
                <b>Culture of productivity and resourcefulness</b>- create a
                working system that promote and encourage the best ideas and
                procedures to rise to the top and rewarding staffs for their
                contributions{" "}
            </li>
            <li>
                Customer ServicePassion in knowing and understanding our
                customers and responding to their needs, with the objective of
                ensuring total customer satisfaction and loyalty because we
                believe that our customers are the reason for being.
            </li>
            <li>
                <b>Performance</b> – Creating and enhancing value for all
                stakeholders (customers and associates). Proactively seeking and
                implementing opportunities that drive and sustain higher levels
                of organizational performance and growth.
            </li>
            <li>
                <b>Accountability/Empowerment</b> – Accepting responsibility,
                assuming ownership and taking full accountability for all our
                actions, whether decisions or behaviors in the delivery of
                quality services and management of resources, in our public and
                private spheres in whatever level we are in the organization.
                The following are the principles that guide Pan Africa Radio
                only collectively as a company but also as an individual
                associated with Pan Africa Radio. We will be true to ourselves
                and our aspirations.
            </li>
            <li>We will plan for success and execute the plan.</li>
            <li>We will build enduring and meaningful relationships.</li>
            <li>We will communicate with clarity and professionalism.</li>
            <li>We will cultivate a winning culture.</li>
            <li>
                We will provide an affordable and sustainable living, serene and
                funfilled environment for clients and employees alike.
            </li>
            <li>
                {" "}
                We will delight our clients by providing them services through
                continuous innovation and creativity in line with the best
                global practices
            </li>
            <li></li>
        </ul>
    </section>
    <br />
    <h3>SUMMARY</h3>
    <section class='section5'>
        {" "}
        Pan Africa Radio is a professional internet radio station that is
        committed to building capabilities to unify the black race over the
        globe. The Bronzeville based media-firm is positioned to build an
        effective platform that serves and represents the African and
        minority communities with excellence and integrity. We offer
        afro-inspired music of various genres, organize afro-centric events
        and also reach out to the needy and the poor in our immediate
        environment. At Pan Africa Radio, our clients’ overall best interest
        would always come first, and everything we do is guided by our
        values, professional ethics and industry standards. Pan Africa Radio
        will at all times demonstrate her commitment to sustainability, both
        individually and as a company, by actively participating in our
        communities and integrating sustainable business practices wherever
        possible. We will ensure we hold ourselves accountable to the
        highest standards by meeting our customers’ needs precisely and
        completely whenever they patronize us. We aim to share common values
        with our clients and we are always excited to be a reason behind
        their happiness and share their excitement and happiness with them.
        We focused towards ensuring a quality service for our customers.
        What we essentially do is to make your dream come true with our
        focused approach and professionalism. We will offer standard
        services to all our clients at all levels. We will ensure that we
        work hard to meet and surpass our clients’ expectations.
    </section>
    <br />
    <div class='missionvision'>
        <section class='mission'>
            <h3>Mission</h3>
            To create bridging gap between the poor and the rich,
            <br /> proclaiming the richness of the black culture and <br />{" "}
            tradition, creating long-lasting positive impact
            <br /> and raising a voice for the voiceless.
        </section>
        <br />

        <section class='vision'>
            <h3>Vision</h3>
            To become a major for Africans in diaspora, <br />
            building a formidable media platform <br />
            that serves and represents the African culture and <br />
            other black-related communities with a sense of dignity and
            integrity.
            <br /> Our vision reflects our values,
            <br /> Trust, Professional Integrity, Efficiency, Excellence and
            transparency
        </section>
    </div>

    <br />
    <section class='section6'>
        <h3>GOALS </h3>
        The goal of every business is to be successful. By success, it means
        a large client base, constantly increasing patronage, and hence,
        rapid business growth. Professional integrity, Service, Excellence
        and trust.
        <ul>
            <li>
                To become one of the fastest growing and most dynamic internet
                radio company promoting the cultural heritage of the black race.
            </li>
            <li>
                To join hands collaboratively to impact lives and become most
                trusted voice for the voiceless.
            </li>
        </ul>
    </section>
    <br />
    <h3>PRODUCTS & SERVICES </h3>
    <section class='section7'>
        <p>
            At Pan Africa Radio, we offer internet radio services whose goal
            is to promote the cultural heriatage of the black race. We offer
            afro-inspired music of various genres, organized all-inlcusive
            traditional and cultural events, Africa Festival, Afro Soccer
            Tournament Campaign Against Gun Violence and Afro Boat Cruise. Our
            arrays of activities/events inlcudes
        </p>
        <ul>
            <li>
                The Afro Unity Street Fest Soccer Tournaments Among The Nations
                (Theme: United Against Crime and Gun Violence)
            </li>
            <li>Jerk Festival</li>
            <li>Afro Peace & Unity Ceremony</li>

            <li>Afro United Boat Cruise</li>
            <li>Joll of Competition</li>
            <li>Afro DJ’s Competition</li>
            <li>
                Annual Fund Raiser In the same vein, we carry out some
                humanitarian programs such as scholarship programs, giving to
                the needy, job creation, internships and volunteering
                opportunities.
            </li>
        </ul>
    </section>
</div>


{% endblock %}