$primary_color : #0C4B33;
$secondary_color: #C9F0DD;
$temporary_color:seagreen;
$light:#fff;
$dark:#d3d3d3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: monospace;
}

@mixin setFlex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
